@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Racing+Sans+One&display=swap");

:root {
  font: "Montserrat", sans-serif;
  --color-gradient: linear-gradient(
    90deg,
    rgba(255, 231, 0, 1) 0%,
    rgba(255, 175, 0, 1) 61%
  );
  --fallback-color: rgba(255, 175, 0, 1) 61%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #232943;
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5 2px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gradient);
  border-radius: 40px;
}
html,
body {
  height: 100%;
  font-size: 1rem;
}

.logo {
  font-family: "Racing Sans One", cursive;
}

li {
  font-weight: 600;
}
.bg-black {
  background: #000;
}

.gradient {
  background: var(--fallback-color);
  background: var(--color-gradient);
}

.gradient-text {
  color: #ffaa00;
}

.page-header {
  margin-top: 3.5rem;
  color: white;
}

.page-header p {
  font-weight: 300;
}

.about-us p {
  font-weight: 400;
}

.btn:hover {
  background: var(--color-gradient);
}

footer {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}
